h1,
h2 {
  font-family: magallanes, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top {
  background-image: url(../img/top.png);
  background-size: cover;
}

.useExample img {
    max-width: 450px;
    height: auto;
    margin: auto;
}

.service,
.useExample {
  background-color: #e5e1bd;
}

.useExample .carousel-indicators li {
  position: relative;
  top: 25px;
  height: 7px;
}

.useExample .carousel-indicators li:not(:first-child) {
  margin-left: 10px;
}